<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsib.modules.app.dao.GgLetterMapper" >
  <resultMap id="BaseResultMap" type="com.dsib.modules.app.entity.GgLetter" >
    <id column="letter_id" property="letterId" jdbcType="VARCHAR" />
    <result column="referrer" property="referrer" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="accepter" property="accepter" jdbcType="VARCHAR" />
    <result column="accepter_type" property="accepterType" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="input_time" property="inputTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    letter_id, referrer, user_id, accepter, accepter_type, start_date, end_date, input_time, 
    updator, update_time, remark, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ggletter
    where letter_id = #{letterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ggletter
    where letter_id = #{letterId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dsib.modules.app.entity.GgLetter" >
    insert into ggletter (letter_id, referrer, user_id, 
      accepter, accepter_type, start_date, 
      end_date, input_time, updator, 
      update_time, remark, flag
      )
    values (#{letterId,jdbcType=VARCHAR}, #{referrer,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{accepter,jdbcType=VARCHAR}, #{accepterType,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{inputTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dsib.modules.app.entity.GgLetter" >
    insert into ggletter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="letterId != null" >
        letter_id,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accepter != null" >
        accepter,
      </if>
      <if test="accepterType != null" >
        accepter_type,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="inputTime != null" >
        input_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="letterId != null" >
        #{letterId,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null" >
        #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="accepterType != null" >
        #{accepterType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="inputTime != null" >
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dsib.modules.app.entity.GgLetter" >
    update ggletter
    <set >
      <if test="referrer != null" >
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null" >
        accepter = #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="accepterType != null" >
        accepter_type = #{accepterType,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="inputTime != null" >
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where letter_id = #{letterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dsib.modules.app.entity.GgLetter" >
    update ggletter
    set referrer = #{referrer,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      accepter = #{accepter,jdbcType=VARCHAR},
      accepter_type = #{accepterType,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where letter_id = #{letterId,jdbcType=VARCHAR}
  </update>
</mapper>